html {
    height: 100%;
    width: auto;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #251b23;
    color: #939ecc;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
  }
  
  #logo {
    font-size: 80px;
    font-weight: 800;
    color: #f5ab04;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: #939ecc;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  header,
  footer {
    padding: 10px;
  }
  
  footer {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
  }
  
  .background-image {
    margin-left: 50px;
    width: 60%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 100px;
  }
  
  h1 {
    font-size: 58px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  p {
    font-size: 18px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
  }
  
  .textblock {
    flex: 0 0 100%;
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .box {
    box-sizing: border-box;
    padding-right: 60px;
    width: 50%;
  }
  
  .img-text {
    box-sizing: border-box;
    width: 46%;
    padding-top: 20px;
  }
  
  .container-light {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    background-color: #939ecc;
    color: #251b23;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .text-container {
    flex: 1;
  }
  
  .text-container p {
    margin: 0;
  }
  
  .block {
    flex: 0 0 46%;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  
  .block-arrang {
    flex: 0 0 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 40px;
  }
  
  .image-container {
    margin-bottom: 10px;
    width: 30%;
  }
  
  .text-container h2 {
    margin-bottom: 10px;
  }
  
  a {
    color: #939ecc;
    text-decoration: none;
    transition:
      color 0.3s,
      border-color 0.3s;
  }
  
  a:hover {
    color: #f5ab04;
  }
  
  @media (max-width: 767px) {
    .block,
    .block-arrang {
      flex: 0 0 100%;
      margin-bottom: 70px;
    }

    .container, .container-light {
        padding: 40px;
    }
  
    .image-container {
      margin-right: 0;
    }
    
    .box {
      width: 100%;
      height: 100%;
      padding-right: 10px;
    }

    .background-image {
      width: 80%;
      padding-bottom: 20px;
    }
  }
