html {
    height: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #251B23;
    color: #939ECC;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
  }
  
  #logo {
    font-size: 80px;
    font-weight: 800;
    color: #F5AB04;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: #939ECC;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  header,
  footer {
    padding: 10px;
  }
  
  footer {
    padding-left: 20px;
    font-weight: 800;
  }

  .background-image {
    margin-left: 50px;
    width: 60%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 100px;
  }
  
  h1 {
    font-size: 58px;
    font-weight: 600;
    line-height: 1.2;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
  }

  p {
    font-size: 18px;
  }
  
  /* Apply italic style to a specific portion of text */
  .italic-text {
    font-style: italic;
    font-weight: 400;
    color: #939ECC;
  }

  .container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    padding: 60px;
    padding-bottom: 100px;
  }

  .textblock {
    box-sizing: border-box;
    padding-bottom: 40px;
  }

  .box {
    box-sizing: border-box;
    width: 46%; /* Set width to half of the container */
  }

  .img-text {
    box-sizing: border-box;
    width: 46%; /* Set width to half of the container */
    padding-top: 20px;
  }

  #light {
    background-color: #939ECC;
    color: #251B23;
  }

  .block {
    display: flex;
    box-sizing: border-box;
    padding-right: 50px;
    width: 50%;
  }

  .image-container {
    flex: 0 0 auto; /* Do not grow or shrink */
    margin-right: 20px; /* Add some spacing between image and text */
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .text-container {
    flex: 1; /* Grow to fill available space */
  }

  .text-container p {
    margin: 0;
  }

    /* Style all links with color and underline */
    a {
        color: #939ECC; /* Set the default color of the links */
        text-decoration: none; /* Remove the default underline */
        transition: color 0.3s, border-color 0.3s; /* Add a smooth transition effect */
      }
  
      /* Hover effect to change color and reveal the underline */
      a:hover {
        color: #F5AB04; /* Set the color of the links on hover */
      }

  @media (max-width: 767px) {
    /* Apply styles for screens with a maximum width of 600px */
    .block {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .image-container {
      margin-right: 0;
    }
    /* Adjust styles for smaller screens (phones) */
    .box {
      width: 100%; /* Set width to full width of the container */
    }
    .background-image {
      width: 80%;
    }
  }