/* Global Styles */
html {
  background-color: #251B23;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Colours */
:root {
  --white: #FFF8EC;
  --dark: #251B23;
  --pink: #EB8F89;
}

/* Typography */
.h1, .h1-pink, .h1-bottom, .h2-light, .h2-dark {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  line-height: 93%;
}

.h1, .h1-bottom {
  color: var(--white);
  font-size: 8em;
}

.h1-pink {
  color: var(--pink);
  font-size: 8em;
  width: 10em;
}

.h2-light {
  color: var(--white);
  font-size: 5em;
}

.h2-dark {
  color: var(--dark);
  font-size: 5em;
}

p, .body-light, .body-light-bold, .block2-bodyText {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.body-light-bold {
  font-weight: bold;
}

/* Containers */
.mainWrapper {
  display: flex;
  flex-direction: column;
}

.block-light, .block-dark {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-light {
  background-color: var(--white);
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.block-dark {
  background-color: var(--dark);
  justify-content: flex-start;
  padding-bottom: 5%;
}

/* Navigation Bar */
.navBar {
  width: 100%;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  margin-bottom: 8em;
}

.navbarLogo {
  height: 4em;
}

/* Buttons */
.ticketButton, .showroomButton {
  width: fit-content;
  padding: 0.9em 1.2em;
  font-size: 1em;
  margin-top: 5em;
  border: none;
}

.ticketButton {
  background-color: var(--pink);
}

.showroomButton {
  background-color: var(--white);
  margin-left: 20px;
}

.ticketButton:hover, .showroomButton:hover {
  cursor: pointer;
}

/* Images */
.block-image {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/public/assets/backgroundimage.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  height: auto;
}

.img-small {
  height: 14em;
}

.img-medium {
  height: 20em;
}

.img-large {
  width: 30%;
  max-width: 600px;
}

/* Footer */
.footer {
  background-color: var(--dark);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  color: var(--white);
  text-decoration: underline;
  margin-top: 2.5em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .h1, .h1-pink, .h1-bottom, .h2-light, .h2-dark {
    font-size: 4em;
  }

  .block-light, .block-dark {
    padding: 10px;
  }

  .img-large {
    max-width: 100%;
    width: 70%;
  }
}

@media (max-width: 480px) {
  .block-light, .block-dark {
    padding: 5px;
  }

  .h1, .h1-pink, .h1-bottom {
    font-size: 3em;
  }

  .h2-light, .h2-dark {
    font-size: 2em;
  }

  .block1-images, .block4-imageAndTextTop, .block4-imageAndTextBottom {
    display: none;
  }
}
